在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以 Titanic_train.csv 中，首先將有遺失值的數值刪除，並回答下列問題。

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("titanic/Titanic_train.csv")
df1 = df.loc[:,["Age", "Survived", "Sex", "Fare"]]
df1.head()

    Age  Survived     Sex     Fare
0  22.0         0    male   7.2500
1  38.0         1  female  71.2833
2  26.0         1  female   7.9250
3  35.0         1  female  53.1000
4  35.0         0    male   8.0500

In [ ]:
#Q1 透過數值法計算Age和Survived是否有相關性？
#Age和Survived為離散對離散，所以根據講義所學
# Point biserial's correlation
# Cohen's ds
# eta-squared

In [ ]:
#Q2 透過數值法計算Sex和Survived是否有相關性？
# 離散對離散

In [ ]:
#Q3 透過數值法計算Age和Fare是否有相關性？
# 離散對連續